.footer {
    width: 100%;
    background-color: rgb(59, 78, 253);;
    color: white;
    text-align: center;
    padding: 1vh 0;
    position: fixed;
    bottom: 0;
}

.footer img {
    padding: 0 1rem;
}