.resume {
    text-align: center;
}

.content-box {
    padding: 0 30% 1vh 30%;
}

.content-box {
    padding: 1vh 10%;
}

.content-box button {
    width: 8rem;
    height: 2rem;
    margin: 1vh;
}

.doc {
    text-align: left;
    background-color: rgb(248, 225, 169);
    padding: 1rem 2rem;
    margin-bottom: 10rem;
}

.doc h2 {
    margin: 1vh 0;
}

.doc h3 {
    margin: 0 0 0.5vh 0;
}

.doc p {
    margin: 0.5vh 0;
}

.education-title {
    display: flex;
    justify-content: space-between;
}